
Clearance_and_Forms_old/bootstrap.css
Clearance_and_Forms_old/Clearances/CertificateofIndigency.php
Clearance_and_Forms_old/Clearances/BusinessPermit.php
*.php
*.html
*.zip
*.rar
*.js
*.sql
*.map
*.css
*.jpg
*.htm
*.ttf
*.txt
*.icc
*.z
Resident_Profiling_old/vendor/tcpdf/fonts/freefont-20120503/COPYING
Resident_Profiling_old/vendor/tcpdf/fonts/freefont-20120503/AUTHORS
Resident_Profiling_old/vendor/tcpdf/fonts/freefont-20100919/README
Resident_Profiling_old/vendor/tcpdf/fonts/freefont-20120503/CREDITS
*.woff2
*.gif
*.png
